/* from forest-templates/cover */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #fffcf9;
}

.ui {
  color: black;
}

.ui.segment {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: #fffcf9;
}

.ui.menu {
  background-color: #758e4f;
}

.ui.dropdown {
  background-color: #758e4f;
}

.ui.menu * {
  color: #fffcf9 !important;
}

.ui.button.positive {
  background-color: #95d6c5 !important;
}

.ui.button.primary {
  background-color: #f4c366 !important;
}

/* .ui.inverted.vertical.segment {
  height: 100vh;
  background-color: #fffcf9;
} */

/* .ui.container.nav {
} */

.ui.page.container {
  padding-top: 70px;
  padding-bottom: 55px;
}

.ui.index.container {
  padding-top: 70px;
}

.ui.home.container {
  /* padding-top: 4%; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;  */
}

.ui.about-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.ui.container .about-container .about-container-element {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2em;
}

.ui.home-hero {
  padding-top: 160px;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    no-repeat left top;
  background-size: cover;
}

.ui.hero {
  padding-top: 160px;
  height: 50vh;
}

.ui.container .overview {
  padding-top: 3%;
  padding-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.ui.container .overview .overview-element {
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2em;
}

.ui.project-content {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 60%;
  text-align: left;
}

.card-form .div {
  display: inline-block !important;
  border: 1px solid #85b7d9;
}

.card-form .div * {
  display: inline-block !important;
  border: 1px solid #85b7d9;
}

.StripeElement {
  /* display: block; */
  /* display: inline-block; */
  border: 1px solid #85b7d9;
  border-radius: 5px;
  /* margin: 10px 0 20px 0; */
  /* max-width: 500px; */
  padding: 10px 14px;
  background: white;
}

.ui.container .account {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
}

.ui.container .account * {
  flex: 1;
}

.ui.container .account .user-pledges {
  align-self: flex-start;
  font-size: 1.33em;
}

.ui.container .account .logout-button {
  align-self: center;
}

.ui.container .pledge-checkout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ui.container .checkout-form {
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
