.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* from forest-templates/cover */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.inverted.compact.menu {
    float: right;
  }
}

.ui.inverted.vertical.center.aligned.segment {
  padding-top: 36px;
}

nav.ui.container .ui.inverted.compact.menu {
  background-color: rgb(51, 51, 51);
}

nav.ui.container .ui.inverted.compact.menu .item {
  padding-bottom: 0;
}

nav.ui.container .ui.inverted.compact.menu .item {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
  background-color: inherit;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.ui.inverted.vertical.segment {
  height: 100vh;
  background-color: rgb(51, 51, 51);
}

.ui.content.container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui.content.container h1.header {
  font-size: 36px;
}

.ui.content.container p {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui.inverted.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: gray;
}

.ui.inverted.vertical.segment footer.ui.segment a {
  color: white;
}

/* Attempt to style Stripe fields */
.StripeElement {
  background-color: white;
}

.ui.container .about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui.container .about-container .about-container-element {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2em;
}

.ui.container .page {
  padding-top: 5%;
}

.ui.container.account {
  padding-top: 5%;
  height: 90%;
}

.ui.container.account.user-pledges {
  align-self: flex-start;
  font-size: 1.33em;
}

.ui.container.account.logout-button {
  align-self: flex-end;
}

.ui.container .index {
  padding-top: 5%;
}
