/* Site-wide */

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  /* background-color: #fffcf9; */
  background-color: #ebf2fa;
}

::placeholder {
  color: #757575 !important;
}

.ui {
  color: black;
}

.ui.segment {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: #fffcf9;
}

/* Menus */

.ui.menu {
  background-color: #11270b;
  font-family: "Montserrat", sans-serif;
}

.ui.dropdown {
  background-color: #11270b;
}

.ui.menu * {
  color: #fffcf9 !important;
}

.ui.footer {
  justify-content: center;
}

/* Buttons */

.ui.button.positive {
  /* background-color: #95d6c5 !important; */
  background-color: #fc7753 !important;
}

.ui.button.negative {
  /* background-color: #95d6c5 !important; */
  background-color: #dd1c1a !important;
}

.ui.button.primary {
  /* background-color: #f4c366 !important; */
  background-color: #41aa14 !important;
}

.ui.button.hero-button {
  /* background-color: #ebf2fa; */
  background-color: #ffffff;
  color: black;
}

/* Page Templates */

.ui.page.container {
  padding-top: 70px;
  padding-bottom: 55px;
}

.ui.project.container {
  padding-top: 40px;
  padding-bottom: 55px;
}

.ui.projects.container {
  padding-top: 70px;
  padding-bottom: 55px;
}

/* Home Page */

.ui.home.container {
  display: flex;
  flex-direction: column;
}

.ui.home-hero {
  /* padding-top: 160px; */
  padding-top: 15vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    no-repeat left top;
  background-size: cover;
}

/* About Page */

.ui.about-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.ui.about-container .about-container-element {
  max-width: 300px;
  margin: 2em;
}

/* Overview, used in Home and Aboout pages*/

.ui.overview {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.ui.overview .overview-element {
  max-width: 300px;
  margin: 2em;
}

/* Project Page */

.ui.hero {
  /* padding-top: 160px; */
  padding-top: 13vh;
  height: 50vh;
}

.ui.pledge-hero {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 3vh;
  height: 20vh;
  border-radius: 5px;
}

.ui.project-content {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 60%;
  text-align: left;
}

/* Account and User Pledges */

.ui.container.account {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.ui.container.account * {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ui.container.user-pledges {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.ui.container.user-pledges-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.ui.container .account .logout-button {
  align-self: center;
}

/* Checkout Page and Checkout Form */

div.card-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui.container.pledge-checkout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ui.container.checkout-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ui.container.checkout-form.input {
  width: 50% !important;
}

.ui.container.checkout-form * {
  padding-bottom: 10px;
}

.StripeElement {
  border: 1px solid #85b7d9;
  border-radius: 5px;
  padding: 10px 14px;
  background: white;
}

/* Fonts */
/* NOTE: While it is encouraged by Semantic contributors to change Fonts by creating a "custom theme", that solution seemed like over-engineering for the scope of this site. */

h1,
h3 {
  font-family: "Cormorant", serif !important;
}

h4 {
  font-family: "Montserrat", serif !important;
  font-size: 20px !important;
}

h5 {
  font-family: "Montserrat", serif !important;
  font-size: 16px !important;
}

div.header {
  font-family: "Montserrat", serif !important;
  font-size: 20px !important;
}

div.step {
  font-family: "Montserrat", serif !important;
}

div.ui.label {
  font-family: "Montserrat", sans-serif !important;
}

.ui.button {
  font-family: "Montserrat", sans-serif !important;
}

div.meta {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

.ui.header {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
}

p i {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
}
